.icon {
  cursor: pointer;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.ava {
  width: 40px;
  height: 40px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
