.answerContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: start;
}

.learnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
