.titleAndButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonsWithIconContainer {
  display: flex;
  gap: 0.62rem;
}

.titleMenu{
  display: flex;
  gap: 5px;
  align-items: center;
}

.settingsBox{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.imgAndTitle {
  display: flex;
  gap: 5px;
  align-items: center;
}

.imgOfDecks {
  background-position: center;
  background-size: cover;
}
